---
layout: page
description: "GV、Gmail、Telegram、实体手机 SIM 卡、Apple ID 礼品卡"
---

{% for post in site.posts %}
{% if post.top == true %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
        <h2 class="post-title">
            📍 {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'zh' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:117 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">

    </p>
</div>
<hr>
{% endif %}
{% endfor %}

{% for post in paginator.posts %}
{% if post.top != true %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'zh' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:117 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">

    </p>
</div>
<hr>
{% endif %}
{% endfor %}