---
layout: page
description: "在这个世界上，不是所有合理的和美好的都能按照自己的愿望存在或实现"
---

{% for post in site.posts %}
{% if post.top == true %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
        <h2 class="post-title">
            🔝 {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'zh' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:117 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">

    </p>
</div>
<hr>
{% endif %}
{% endfor %}

{% for post in paginator.posts %}
{% if post.top != true %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'zh' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:117 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">

    </p>
</div>
<hr>
{% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
